.featured-products {
  padding: 4rem 2rem;
  width: 100%;
  max-width: 1400px;
  background-color: #000;
  margin: 0 auto;

}

.featured-products h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.view-all-wrapper {
  text-align: center;
  margin-top: 3rem;
}

.view-all-btn {
  padding: 0.8rem 2rem;
  background: transparent;
  border: 2px solid #ff9800;
  color: #ff9800;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
}

.view-all-btn:hover {
  background: rgba(255, 152, 0, 0.1);
}

/* Tablet */
@media (max-width: 992px) {
  .featured-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .featured-products {
    padding: 2rem 1rem;
     margin-top: -20em;
  }

  .featured-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}